.navbar {
    height: 91px;
    background-color: #21222A;
    padding-left: 26px;
    display: flex;
    align-items: center;
}

.mainTitle {
    color: #61DAFB;
    font-family: "Inter";
    font-size: 22.5;
    font-weight: bold;
    letter-spacing: -5%;
}

.subtitle {
    margin-top: 3px;
    margin-left: 110px;
    color: #DEEBF8;
    font-size: 16px;
    font-family: "Inter";
    font-weight: semi-bold;
}